#controls__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#reset,
#start_stop {
  border-radius: 25px;
  height: 40px;
  width: 60px;
}
