#timer__countdown__container {
  border: 1px solid rgb(165, 165, 165);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  width: 275px;
  height: 130px;
  border-radius: 30px;
}

#time_countdown {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 20px;
}

#timer__name {
  margin-top: 25px;
  margin-bottom: 5px;
}
